[submodule "net/runeduniverse/repo_runes4eclipse"]
	path = Tools/Eclipse/Runes4Eclipse
	url = git@github.com:RunedUniverse/runes4eclipse.git
[submodule "net/runeduniverse/repo_runes4maven"]
	path = Tools/Maven/Runes4Maven
	url = git@github.com:RunedUniverse/runes4maven.git
[submodule "net/runeduniverse/repo_c2gcc"]
	path = Tools/Maven/c2gcc
	url = git@github.com:RunedUniverse/c2gcc.git
[submodule "net/runeduniverse/repo_cpp2gcc"]
	path = Tools/Maven/cpp2gcc
	url = git@github.com:RunedUniverse/cpp2gcc.git
